{{> header/navbar-client}}
	
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4 d-flex justify-content-center">Welcome to <i class="fas fa-pencil-alt"></i> Pencil Me In!</h1>
		  <hr class="my-4">
		  <div id="client-ui">
			<div class="dropdown d-flex justify-content-center">
				<button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="providerid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please select your Provider</button>
				<div class="dropdown-menu" aria-labelledby="providerid">

		  </div>
		</div>

	</div>