{{> header/navbar-client}}
	
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4 d-flex justify-content-center">Welcome to <i class="fas fa-pencil-alt"></i> Pencil Me In!</h1>
		  
		  <hr class="my-4">
		  <div id="client-ui">
			
		  </div>
          <div id="providerid">{{id}}</div>
          
		</div>
        <div class="row">
            <div class="col-md-12">
                <div id="calendar">

                </div>
            </div>
        </div>
	</div>

