<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="fas fa-pencil-alt"></i>&nbsp;Pencil Me In</a>

  <form class="form-inline">
    <button class="btn btn-secondary my-2 my-sm-0" id="logout" type="submit">Log Out</button>
  </form>
</nav>
